// Footer Styles Open
footer{
  width: 100%;

  .row-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0C82C6;
    padding: 2% 0;

    .col-footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #88b3d0;
      width: 30%;

      p{
       margin: 1% 0;
     }
    }
  }

  .copyright-footer{
    background-color: #1166a1;
    text-align: center;
    padding: 2%;
    color: #88b3d0;
  }
}


@media screen and (max-width: 992px){

  footer {
    .row-footer{
      flex-direction: column;

      .col-footer{
        padding: 2% 0;
        width: 100%;

        .col-footer p{
          font-size: 12px;
        }
      }
    }
    .copyright-footer{
      font-style: 12px;
    }
  }
}
