// Telephone Styles Open
.telephone-section{
  @include main-size;
  @include flex-column;
  background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0, .8)), url("../img/sanatorio-san-lucas-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .telephone-section-content{
    width: 100%;
    @include flex-row;

    div{
      margin: 5% 2%;
      height: 120px;

      p{
        color: #fff;
        margin-top: 5%;
      }
    }

    img{
      width: 70px;
      height: 70px;
      border: 3px solid grey;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 792px){
  .telephone-section .telephone-section-content{
    flex-direction: column;

    div{
      margin: 5% 0;
      height: 120px;
    }
  }
}
