<!-- Covid-19 Section Open -->
<section class="covid-19">
  <!-- Back to index button open -->
  <p id="back-to-index" class="animated pulse infinite"><i class="fas fa-chevron-circle-left"></i> Volver</p>
  <!-- Back to index button close -->

  <img id="logo-sections" src="../img/logos/sanatorio-san-lucas-white.png" alt="">

  <div class="covid-19-image">
    <img src="../img/covid-19/covid-19-ssl.jpg" alt="">
  </div>

  <div class="covid-19-info">
    <p>
      Sabemos que la salud es lo más importante, por eso, es adecuado que no deje de consultar ante cualquier síntoma o patología.
      Para ello queremos llevarle tranquilidad y contarle cómo nos preparamos para cuidarlo a usted cómo así también a nuestro personal de la salud.
      En nuestra maternidad tanto las áreas físicas como el personal están destinados solamente a obstetricia y no tiene contacto con la atención de otras patologías. Además, contamos con todos los protocolos de seguridad para la atención obstétrica de casos sospechosos o confirmados de COVID-19.
      Tomamos las medidas de higiene y de seguridad adecuadas para proteger la salud de todos. Asimismo hemos preparado un “área de aislamiento” equipado con todos los elementos de protección.
      Hemos adaptado la limpieza de nuestro sanatorio, en todas las áreas, capacitando a nuestro personal.
      <strong>Todos nuestros protocolos concuerdan con las disposiciones del Ministerio de Salud de la Nación.</strong>
    </p>

    <h3>Al Ingresar:</h3>
    <p>
      Va a recibirlo personal de salud, correctamente protegido para realizar el “tríage”.
      Le tomarán la fiebre, se le hará un breve cuestionario de salud y se le va a consultar a dónde se dirige. En varios puestos verá dispenser con alcohol para que se coloque al ingreso o cuando ud lo requiera.
      Nuestras Sala de Espera estarán adaptadas de acuerdo a los requerimientos
    </p>

    <h3>Accesos:</h3>
    <p>
      El acceso Nro.1, por la calle Belgrano 369 (ingreso principal). Solo para ingresos de pacientes sin síntomas respiratorios, internación, estudios ambulatorios y visitas.
      El acceso Nro 2, por la calle Martín y Omar (Sector de Emergencias). Exclusivo en el caso de que presente alguno de los siguientes síntomas como fiebre, tos, pérdida de gusto, pérdida de olfato o dolor de garganta.
      El acceso Nro 3 por la calle Martín y Omar 368. Exclusivo para consultas de pediatría, ginecología, traumatología, vacunas o laboratorio (solo pacientes de la guardia).
    </p>

    <h3>Recordar:</h3>
    <p>
      Para solicitar el premiso de tránsito puede ingresar a: <a href="https://permisostransito.mseg.gba.gov.ar/">https://permisostransito.mseg.gba.gov.ar/</a>
      El ministerio de Salud de la Nación sugiere utilizar barbijos / tapabocas en el caso que deba salir de casa. Recuerde asistir con el mismo para el correcto ingreso.
      Fuente: <a href="https://www.argentina.gob.ar/coronavirus/barbijo">https://www.argentina.gob.ar/coronavirus/barbijo</a>
    </p>

    <p>
      Y ante cualquier otra duda o inquietud puede llamarnos al Tel.: 4732-8888.
    </p>

    <p class="tags-parragraph">
      #sanatoriosanlucas #salud #prevencion #cuidados #coronavirus #coronavirusargentina #covid19 #aislamiento #cuarentena #cuidemonosentretodos
    </p>
  </div>
</section>

<script src="../js/app.js"></script>
<!-- Covid-19 Section Close -->
