<!-- Medic Staff Section Open -->
<section class="medic-staff-section">
  <img id="logo-sections" src="../img/logos/sanatorio-san-lucas-white.png" alt="">
  <p id="back-to-index" class="animated pulse infinite"><i class="fas fa-chevron-circle-left"></i> Volver</p>
  <div class="medic-staff-section-content">
    <h1 class="wow animated fadeInLeft">Staff Médico <i class="fas fa-users"></i></h1>
    <div>
       <p><strong>UTI – UNIDAD DE TERAPIA INTENSIVA</strong></p>
       <p><i class="fas fa-clock"></i> Horario de Visitas: 12:30 a 13:30 Hs // 18:30 a 19:30 Hs</p>
       <p><i class="fas fa-user-md"></i> Coordinadores: Dra. Mónica Quinteros y Dr. Hernán Nuñez</p>
     </div>

     <div>
       <p><strong>UCO – UNIDAD CORONARIA</strong></p>
       <p><i class="fas fa-clock"></i> Horario de Visitas: 12:30 a 13:30 Hs // 18:30 a 19:30 Hs</p>
       <p><i class="fas fa-user-md"></i> Coordinador: Dr. Martín Odone</p>
       <p><i class="fas fa-user-tie"></i> Jefe:  Dr.  Norberto Almirón</p>
     </div>

     <div>
       <p><strong>UPEDIATRIA</strong></p>
       <p><i class="fas fa-clock"></i> Horario de Visitas: Lu a Lu de 10 a 12 Hs // 16 a 20 Hs</p>
       <p><i class="fas fa-user-md"></i> Coordinadora: Dra. Luciana Ruiz García</p>
       <p><i class="fas fa-user-tie"></i> Jefe: Dr. Jorge Buraschi</p>
     </div>

     <div>
       <p><strong>NEONATOLOGÍA</strong></p>
       <p><i class="fas fa-user-tie"></i> Jefe: Dr. Gonzalez Bernaldo Quiróz</p>
     </div>
  </div>
</section>

<script src="js/app.js"></script>
<!-- Medic Staff Section Close -->
