<!-- Teaching Committee Section Open-->
<section class="teaching-committee-section">
  <img id="logo-sections" src="../img/logos/sanatorio-san-lucas-white.png" alt="">
  <p id="back-to-index" class="animated pulse infinite"><i class="fas fa-chevron-circle-left"></i> Volver</p>
  <h1 class="wow animated fadeInLeft">Comité de Docencia <i class="fas fa-chalkboard-teacher"></i></h1>
  <h3>Curso de Farmacología de Pre-Grado</h3>
  <p>Este curso se lleva a cabo hace varios años y se dicta todos los sábados en el horario de 9 a 12hs, a cargo del Director:  Prof. Dr. Mariano Rodriguez.</p>
  <br>
  <p>Encontrará más información en:  <i class="fas fa-globe-americas"></i> <a href="https://farmacologiauba.wordpress.com/">https://farmacologiauba.wordpress.com/</a></p>
</section>
<script src="js/app.js"></script>
<!-- Teaching Committee Section Close -->
