    <!-- User services Section Open -->
    <section class="user-services">
      <img id="logo-sections" src="../img/logos/sanatorio-san-lucas-white.png" alt="">
      <p id="back-to-index" class="animated pulse infinite"><i class="fas fa-chevron-circle-left"></i> Volver</p>

      <div class="user-services-options">
        <h1 class="wow animated fadeInLeft">Servicios al Usuario <i class="fas fa-user-cog"></i></h1>
        <div class="coberturas-medicas-btn user-services-option-btn">
          <p>Coberturas Medicas <i class="fas fa-chevron-circle-down"></i></p>
        </div>
        <div class="cobertura-medica-section">
          <ul>
            <li><i class="far fa-hospital"></i> ACA SALUD</li>
            <li><i class="far fa-hospital"></i> ACCORD SALUD</li>
            <li><i class="far fa-hospital"></i> APM (AGENTE DE PROPAGANDA MEDICA)</li>
            <li><i class="far fa-hospital"></i> APSOT</li>
            <li><i class="far fa-hospital"></i> ASOCIACIÓN ECLESIASTICA SAN PEDRO</li>
            <li><i class="far fa-hospital"></i> BANCO PROVINCIA</li>
            <li><i class="far fa-hospital"></i> CASA (COLEGIO DE ABOGADOS)</li>
            <li><i class="far fa-hospital"></i> CASA BAYRES</li>
            <li><i class="far fa-hospital"></i> CIRCULO MEDICO SAN ISIDRO</li>
            <li><i class="far fa-hospital"></i> CIRCULO MEDICO VICENTE LOPEZ</li>
            <li><i class="far fa-hospital"></i> COLEGIO ESCRIBANOS CAPITAL FEDERAL</li>
            <li><i class="far fa-hospital"></i> COLEGIO ESCRIBANOS PCIA BS. AS.</li>
            <li><i class="far fa-hospital"></i> COLEGIO FRANCO ARGENTINO</li>
            <li><i class="far fa-hospital"></i> COMEI</li>
            <li><i class="far fa-hospital"></i> CONSOLIDAR</li>
            <li><i class="far fa-hospital"></i> CORP. MEDICA SAN MARTIN</li>
            <li><i class="far fa-hospital"></i> DASUTEN</li>
            <li><i class="far fa-hospital"></i> DOSUBA</li>
            <li><i class="far fa-hospital"></i> ENSALUD</li>
            <li><i class="far fa-hospital"></i> FEMEDICA</li>
            <li><i class="far fa-hospital"></i> GALENO</li>
            <li><i class="far fa-hospital"></i> HTAL.BRITANICO</li>
            <li><i class="far fa-hospital"></i> HTAL.ITALIANO</li>
            <li><i class="far fa-hospital"></i> MARITIMOS</li>
            <li><i class="far fa-hospital"></i> MEDICALS</li>
            <li><i class="far fa-hospital"></i> MEDICUS</li>
            <li><i class="far fa-hospital"></i> MEDICUS – FORD</li>
            <li><i class="far fa-hospital"></i> MEDIFE</li>
            <li><i class="far fa-hospital"></i> MOA PLENO</li>
            <li><i class="far fa-hospital"></i> OMINT</li>
            <li><i class="far fa-hospital"></i> OPDEA</li>
            <li><i class="far fa-hospital"></i> OSDEPYM</li>
            <li><i class="far fa-hospital"></i> OSDIPP</li>
            <li><i class="far fa-hospital"></i> OSMITA</li>
            <li><i class="far fa-hospital"></i> OSPOCE ACMI</li>
            <li><i class="far fa-hospital"></i> OSPOCE INTEGRAL</li>
            <li><i class="far fa-hospital"></i> OSSEG</li>
            <li><i class="far fa-hospital"></i> PASTEUR</li>
            <li><i class="far fa-hospital"></i> PODER JUDICIAL</li>
            <li><i class="far fa-hospital"></i> PREMEDIC</li>
            <li><i class="far fa-hospital"></i> PROGRAMA DE SALUD /AMIL</li>
            <li><i class="far fa-hospital"></i> SANCOR SALUD</li>
            <li><i class="far fa-hospital"></i> SERVESALUD</li>
            <li><i class="far fa-hospital"></i> SIMECO</li>
            <li><i class="far fa-hospital"></i> SOLIDEZ</li>
            <li><i class="far fa-hospital"></i> STAFF MEDICO</li>
            <li><i class="far fa-hospital"></i> SWISS MEDICAL GROUP</li>
            <li><i class="far fa-hospital"></i> UAI SALUD</li>
            <li><i class="far fa-hospital"></i> UNION PERSONAL (UPCN)</li>
            <li><i class="far fa-hospital"></i> WILLIAM HOPE</li>
          </ul>
        </div>


        <div class="servicios-medicos-btn user-services-option-btn">
          <p>Servicios Medicos <i class="fas fa-chevron-circle-down"></i></p>
        </div>
        <div class="servicios-medicos-section">
          <p>
            El Sanatorio cuenta con una  <strong>GUARDIA</strong> para <strong>adultos, pediatría, traumatología y gineco-obstetricia</strong>.
          </p>
          <br>
          <p><strong>Además con servicios de:</strong></p>
          <br>
          <ul>
            <li><i class="fas fa-user-md"></i> Diagnóstico por Imágenes</li>
            <li><i class="fas fa-user-md"></i> Laboratorio – Bacteriología</li>
            <li><i class="fas fa-user-md"></i> Hemoterapia</li>
            <li><i class="fas fa-user-md"></i> Quirófanos – Sala de Partos</li>
            <li><i class="fas fa-user-md"></i> Hemodinamia</li>
            <li><i class="fas fa-user-md"></i> Terapia Intensiva – UTI</li>
            <li><i class="fas fa-user-md"></i> Unidad Coronaria – UCO</li>
            <li><i class="fas fa-user-md"></i> Pediatría</li>
            <li><i class="fas fa-user-md"></i> Neonatología</li>
            <li><i class="fas fa-user-md"></i> Kinesiología</li>
            <li><i class="fas fa-user-md"></i> Patología</li>
            <li><i class="fas fa-user-md"></i> Consultorios de Atención Inmediata – CAI</li>
          </ul>
        </div>


        <div class="cuestionario-pre-quirurgico-btn user-services-option-btn">
          <p>Cuestionario Pre Quirurgico <i class="fas fa-chevron-circle-down"></i></p>
        </div>
        <div class="cuestionario-pre-quirurgico-section">
          <p>
            Señor paciente, si usted está por realizarse una intervención quirúrgica, su médico le solicitará que lea con detenimiento este cuestionario pre quirúrgico que se adjunta debajo.
            Una vez impreso deberá completar y presentarlo el día de la misma o cuando le sea solicitado por el profesional.
            Ante cualquier inquietud, no dude en consultar
          </p>
          <br>
          <p><strong>Por favor descargue e imprima.</strong></p>
          <br>
          <i onclick="window.open('../otherFiles/consentimiento-pre-qui.pdf')" class="fas fa-download fa-x3 animated pulse infinite"></i>
        </div>


        <div class="consentimiento-quirurgico-btn user-services-option-btn">
          <p>Consentimiento Quirurgico <i class="fas fa-chevron-circle-down"></i></p>
        </div>
        <div class="consentimiento-quirurgico-section">
          <p>Por favor descargue e imprima …</p>
          <br>
          <i onclick="window.open('../otherFiles/autorizacion-inter-quir.pdf')" class="fas fa-download fa-x3 animated pulse infinite"></i>
        </div>


        <div class="constancia-obstetrica-btn user-services-option-btn">
          <p>Constancia de información Obstetrica <i class="fas fa-chevron-circle-down"></i></p>
        </div>
        <div class="constancia-obstetrica-section">
          <p>Por favor descargue e imprima …</p>
          <br>
          <i onclick="window.open('../otherFiles/consentimiento-obstetrica.pdf')" class="fas fa-download fa-x3 animated pulse infinite"></i>
        </div>


        <div class="preguntas-frecuentes-btn user-services-option-btn">
          <p>Preguntas Frecuentes <i class="fas fa-chevron-circle-down"></i></p>
        </div>
        <div class="preguntas-frecuentes-section">
          <p><strong>1) QUÉ DEBO HACER ANTES DE INTERNARME?</strong></p>
          <p>
            a) Para Internación programada (clínica o quirúrgica)  o Intervenciones y estudios  ambulatorios:
            Debe presentarse en la oficina de  Admisión, la cual se encuentra en la planta baja ingresando por la entrada principal, con la orden médica y autorización de su cobertura, credencial, DNI y el examen prequirúrgico (todos los estudios solicitados por el médico tratante). También deberá presentar el Consentimiento Médico Informado debidamente firmado por el profesional tratante y paciente ó familiar a cargo, este es un requisito de suma importancia para su ingreso.
            Si usted tiene alguna duda pueda acercarse durante las 24 horas o llamarnos por teléfono al número 4732-8888 internos 1505 ó 1514.
            b) Para Internación de urgencia.
            Son aquellas  internaciones derivadas de la guardia. Para tramitar la misma debe presentarse un familiar o persona responsable en el Departamento de Admisión, con la orden médica, credencial del paciente, DNI, en estos casos la autorización la tramita el Departamento de Admisión. En el caso de ser una internación con intervención quirúrgica de urgencia, también presentará el Consentimiento Médico Informado, firmado por el profesional tratante,  paciente y/ó familiar o persona responsable a cargo.
          </p>
          <br>
          <p><strong>2) PUEDE QUEDARSE UN ACOMPAÑANTE?</strong></p>
          <p>
            La permanencia de familiares y/o acompañantes en las habitaciones de internación clínica y/o maternidad  deberán realizarse en los horarios de visitas (10 a 12hs. y de 16 a 20hs).
            Después de las 20hs. si desea solicitar el servicio de acompañante deberá informarlo a la camarera correspondiente, incluye cama y desayuno para la mañana siguiente, también podrá ordenar la cena a la camarera.  Infórmese en el Departamento de Admisión sobre los costos de estos servicios.
          </p>
          <br>
          <p><strong>3) CON QUÉ SERVICIOS CUENTA LA HABITACIÓN?</strong></p>
          <p>
            Todas las habitaciones son individuales con baño privado, teléfono, wifi, televisor, aire acondicionado frío/calor, equipadas con camas eléctricas e
            intercomunicador para el llamado de enfermería,  gases médicos, comodidades para acompañante y camareras.
          </p>
          <br>
          <p><strong>4) DÓNDE DEBO DIRIGIRME ANTE UNA URGENCIA?</strong></p>
          <p>
            Ante una urgencia de gravedad usted debe dirigirse al Servicio de Guardia, el cual funciona en la planta baja las 24 horas, pudiendo ingresar por la calle Belgrano 363 todos los días hasta las 22 horas o por la calle Martin y Omar Nº 368 durante las 24 horas. Allí será atendido por personal de recepción, al cual es importante que le explique la dolencia en curso para poder actuar en consecuencia.
            <br>
            Recuerde que el sanatorio cuenta con Guardia Activa  (24 horas) de: clínica médica, pediatría, cardiología, ginecología y obstetricia. Traumatología  de 8 a 22 horas, luego en forma pasiva.
            <br>
            Si lo que usted necesita  es realizar una consulta por  una enfermedad que no puede esperar al turno con su médico de cabecera, puede  dirigirse al Centro Médico Martin y Omar, a los Consultorios de Atención Inmediata  (CAI) de clínica médica, pediatría, ginecología y obstetricia, pudiendo acceder por la calle Belgrano 369,  o por la calle Martín y Omar Nº 352, todos los días en el horario de 8 a 22hs.
          </p>
        </div>
      </div>
    </section>

    <script src="js/app.js"></script>
    <!-- User Services Section Close -->
