<!-- Telephone Section Open -->
<section class="telephone-section">
  <img id="logo-sections" src="../img/logos/sanatorio-san-lucas-white.png" alt="">
  <div class="telephone-section-content">
    <p id="back-to-index" class="animated pulse infinite"><i class="fas fa-chevron-circle-left"></i> Volver</p>
    <div>
     <img class="wow animated bounceInLeft" src="../img/logos/telephone.ico" alt="">
     <p>Telefono:</p>
     <p>011 4732 8888 / 4874-3600</p>
    </div>

    <div>
     <img class="wow animated bounceInLeft" src="../img/logos/emergency-telephone.png" alt="">
     <p>Telefono de Emergencia: </p>
     <p>011 4732 1000 </p>
    </div>
  </div>
</section>

<script src="js/app.js"></script>
<!-- Telephone Section Close -->
